{% extends 'include/dashboard-base.html' %}
{% load static %}
{% load humanize %}
{% block content  %}

    <section class="dashboard-section body-collapse pay">
        <div class="overlay pt-120">
            <div class="container-fruid">
                <div class="main-content">
                    <div class="head-area d-flex align-items-center justify-content-between">
                        <h4>Make a Payment</h4>
                        <div class="icon-area">
                            <img src="{% static 'assets1/images/icon/support-icon.png' %}" alt="icon">
                        </div>
                    </div>
                    <div class="row pb-120">
                        <div class="col-xxl-3 col-xl-4 col-md-5">
                            <a href="{% url 'core:search-account' %}" class="single-item">
                                <div class="icon-area">
                                    <img src="{% static 'assets/images/onitsha-logo.png' %}" style="height: 80px; width: 100px;" alt="icon">
                                </div>
                                <p class="mdr">To a Recipient’s Aza Account</p>
                                <span class="mdr">Pay for free</span>
                            </a>
                        </div>

                        <div class="col-xxl-3 col-xl-4 col-md-5">
                            <a href="{% url 'core:search-dollar-account' %}" class="single-item">
                                <div class="icon-area">
                                    <img src="{% static 'assets1/images/icon/usd.png' %}" style="height: 80px; width: 100px;" alt="icon">
                                </div>
                                <p class="mdr">To a Recipient’s Aza Dollar Account</p>
                                <span class="mdr">Pay for free</span>
                            </a>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-5">
                            <a href="{% url 'core:coming-soon'%}" class="single-item">
                                <div class="icon-area">
                                    <img src="{% static 'assets1/images/icon/tether.png' %}" style="height: 80px;" alt="icon">
                                </div>
                                <p class="mdr">To a Recipient’s bank account</p>
                                <span class="mdr">Pay via bank transfer</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard Section end -->

    {% endblock content %}

   